.image-list-page .marker {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2px 4px;
  color: white;
  background-color: #000;
  border: 1px solid #fff;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.image-list-page .marker--active {
  color: black;
  background-color: rgba(255, 0, 0, 0.426);
  border-color: black;
}

.marker:hover {
  z-index: 1;
}

.image_item {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

.image_item--active {
  background: rgba(0,0,0,0.1);
}

.image_item__images {
  display: block;
  width: 100%;
  cursor: pointer;
}

.image_item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image_item__info--actions > svg {
  cursor: pointer;
  width: 15px;
  margin-left: 5px;
}

.image_item__info--actions .MuiCircularProgress-root {
  vertical-align: super;
  cursor: progress;
}